import { Routes, Route } from 'react-router-dom'
import App from './App'
import { Layout } from './components/Layout'

export function AppRoutes() {
  return (
    <Routes>
      <Route path="/" element={<Layout />}>
        <Route index element={<App />} />
        {/* Add more routes here */}
      </Route>
    </Routes>
  )
}
